<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>JavaScript AJAX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="mystyle.css">
</head>
<body>


<header class="">
	<div class="flex">
		<div class="logoDiv col-md-9">
			<img class="logo" src="images/logo-viva-01.png" alt="">
		</div>

		<div class="">
			<nav class="">
				<div class="">
					<a id="un-active" href="#">Comprar</a>
					<a id="active"  href="#">Alugar</a>
				</div>
			</nav>
		</div>
	</div>

	<div class="flex priceInput col-md-12">
		<div id="priceSearch-1">
			de
			<input class="priceSearch" type="search" name="" id="search" placeholder="valor mínimo">
		</div>

		<div>
			até
			<input class="priceSearch" type="search" name="" id="search" placeholder="valor máximo">
		</div>
	</div>

	<div class="col-md-12">
		<button id="pesquisar" type="button" name="button">Pesquisar</button>
	</div>




</header>


<section>

	<div class="row">



	</div>
</section>


	<div id="update"></div>

 <div class="flex">
 	<div id="pagination"></div>
 </div>


	<script src="js/jquery.js"></script>
	<script src="js/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.3/pagination.min.js"></script>
	<script id="template" type="text/x-dot-template">
		{{~ it.results :result}}
			<div class="box flex">
				<div class="photo">
					<img class="photoGallery" src="{{=result.images[0]}}" />
				</div>
				<div class="content flex">
					<h2><a class="apTitle" onClick="renderDetail(this)" data-item="{{=result.index}}">APARTAMENTO PARA
						{{? result.pricingInfos.businessType === 'RENTAL'}}
							ALUGUEL
						{{?? true }}
							VENDA
						{{?}}
						</a>
					</h2>
					<div class="info-price">
						<div class="col-sm-6">
							<ul class="infos">
								<li>{{=result.bedrooms}} quartos</li>
								<li>{{=result.bathrooms}} banheiros</li>
								<li>{{=result.usableAreas}} m2</li>
								<li>{{=result.parkingSpaces}} vagas</li>
							</ul>
						</div>
					</div>
					<div class="">
						<p class="price">
						{{? result.pricingInfos.businessType === 'RENTAL'}}
							$ {{=result.pricingInfos.rentalTotalPrice}}/mês
						{{?? true }}
							$ {{=result.pricingInfos.price}}
						{{?}}
						</p>
					</div>
				</div>
			</div>
		{{~}}
	</script>

	<script id="details" type="text/x-dot-template">
	<div class="photo">
		<img src="{{=it.result.images[1]}}" />
	</div>
	{{? it.result.address.city != ""}}
			{{=it.result.address.city}} / {{=it.result.address.neighborhood}}
	{{?}}
	</script>

</body>
</html>
