body {
	background: white;
	font-family: 'Poppins', sans-serif;
}

header {
	margin: auto;
	background-image: url("images/bg-mobile-01.png");
	background-repeat: no-repeat;
	height: 200px;
	border-radius: 0px 0px 100% 100%;
	-moz-border-radius: 0px 0px 100% 100%;
	-webkit-border-radius: 0px 0px 200px 200px;
	border: 0px solid #000000;
}

a {
	font-size: .7em;
	margin: 2em;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

a.apTitle {
	font-size: .5em;
	margin-right: 4em;
	color: red;
}


a:hover {
	background-color: #0013ca;
	border: 2px solid #0013ca;
	text-decoration: none;
	transition: .5s;
}


a.apTitle:hover {
	border: none;
	background-color: white;
	color: #0013ca;
	transition: .5s;
}

button {
	background-color: #0013ca;
	color: white;
	border-radius: 3em;
	border: 2px solid #013dff;
	letter-spacing: .05em;
	font-size: 1em;
}

button:hover {
	background-color: white;
	color: #757575;
	transition: .5s;
}

div {
font-size: .8em;
}

div.box.flex {
	color: #757575;
	max-width: 300px;
}

div#update {
    margin-top: 3em;
		display: flex;
		flex-wrap: wrap;
}


img {
	padding: 6em;
}

input {
	margin: 1em;
	padding: 1em;
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #5efc82;
	font-size: 8pt;
	color: white;
}

input#search {
    padding-bottom: 0px;
}

li {
	margin-bottom: 10px;
}

li a {
	color: black;
	font-size: 2em;
}


li.paginationjs-page.J-paginationjs-page, li.paginationjs-prev.disabled, li.paginationjs-ellipsis.disabled {
    max-width: 10px;
}


ul {
	list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

ul li{
	margin-left: 2em;
}

ul.infos {
	font-size: 1.3em;
	list-style-type: none;
}

nav {
	text-align: center;
	padding: 20px;
	padding-bottom: 10px;
}

p.price {
	color: #f8ba00;
}

select {
	border: 1px solid grey;
	border-radius: 3em;
}


#active {
	background-color: #0013ca;
	border: 2px solid #0013ca;
	border-radius: 3em;
}

#pesquisar {
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 2em;
}

#un-active {
	border: 2px solid white;
	border-radius: 3em;
	color: white;
}

.apTitle {
	font-size: 1em;
	margin: 0px;
	color: #0013ca;
}

.box {
	-webkit-box-shadow: -1px 5px 10px -2px rgba(181,181,181,1);
	-moz-box-shadow: -1px 5px 10px -2px rgba(181,181,181,1);
	box-shadow: -1px 5px 10px -2px rgba(181,181,181,1);
	margin: 2em;

}

.header-items {
	margin: 0 auto;
}

.priceForms {
	padding: 30px;
}


.photoGallery {
	width: 100%;
	padding: 2em;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}


.logo {
	max-width: 300px;
	align-self: center;
	padding: 20px;
	padding-bottom: 0px;
}

.logoDiv {
	display: flex;
	justify-content: center;
}

.navigation {
	justify-content: space-between;
}

::placeholder {
	color: white;
	opacity: .5;
}


.priceSearch {
	max-width: 100px;
	color: white;
}

.search-container{
  margin: 0 auto;
}

.priceInput {
	color: white;
}



#priceSearch-1 {
	margin-right: 1em;
}

#priceTitle {
	margin-bottom: 0px;
	margin-top: 3em;
}


 @media screen and (min-width: 768px) {

	 .logo {
		 padding: 0px;
	 }

	 header {
		 width: 100%;
		 background-color: black;
	 }

	 div.box.flex {
    color: #757575;
    max-width: 40%;
	}

	a.apTitle {
		font-size: 1em;
		margin-right: 4em;
	}

}

@media screen and (min-width: 1070px) {
	.logoDiv {
		justify-content: flex-start;
	}

	header {
		background-image: url("images/bg-01.png");
		background-size: 100%;
		border-radius: 0px;
	}

}

div.box.flex {
	color: #757575;
	max-width: 250px;
}

div#update {
  justify-content: center;
}

a.apTitle {
  font-size: .4em;
	margin: 0px;
	justify-content: center;
}

ul.infos {
  font-size: 1.3em;
  list-style-type: none;
  padding: 0px;
}

.info-price {
  text-align: left;
}

.price {
	font-size: .5em;
	padding-left: 1em;
}

p.price {
  font-size: 2em;
	font-weight: 700;
}

.content.flex {
  display: block;
}

input#search-bar {
	width: 50vw;
}

#searchaera {
	margin: 3em;
}

 }
